* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: url("./imgs/bgLogin.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid #131313c5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
h2 {
  font-size: 2rem;
  color: #131313c5;
  text-align: center;
}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #131313c5;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #131313c5;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #131313c5;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  color: #131313c5;
  font-size: 1.2rem;
  line-height: 57px;
}
.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9rem;
  color: #131313c5;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  margin-right: 3 px;
}
.remember-forgot a {
  color: #131313c5;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-box button {
  width: 100%;
  height: 40px;
  background: #e55e34;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
.register-link {
  font-size: 0.9rem;
  color: #131313c5;
  text-align: center;
  margin: 25px 0 10px;
}
.register-link p a {
  color: #131313c5;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
  .input-box {
    width: 290px;
  }
}

/* --------------------------------------------------- PAGE D'ACCUEIL ------------------------------------------------------ */

/* ------------- NAVRBAR ------------ */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  margin-bottom: 50px;
  font-size: 1.1rem;
  list-style: none;
  box-shadow: inset 0px -1px 0px #e5e5e5;
  background: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: top 0.3s ease-in-out;
}
.content-wrapper {
  padding-top: 80px;
}
.navbar li a {
  font-family: "Architects Daughter", cursive;
  color: #999999;
  text-decoration: none;
  position: relative;
}
.navbar li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  border-radius: 50%;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  background: #e55e34;
  transition: transform 0.3s ease-out;
}
.navbar li a:hover::after {
  transform: scaleX(1);
}
.hamburger {
  display: none;
}
section {
  padding-top: 80px;
  height: 70vh;
}
/* ---------------- SECTION ACCUEIL ---------------- */

.accueil {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.accueil-right-container {
  width: 40%;
}
.accueil img {
  height: 400px;
}
h1 {
  font-size: 2.5rem;
  color: #e55e34;
  font-family: "Luckiest Guy", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#textAnim::after {
  content: "";
  display: none;
}

/* ----------------- SECTION PROFIL ----------------- */
.profil {
  height: 50vh;
  padding: 30px;
}
.profil-container {
  display: flex;
  align-items: center;
}
.profil-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  opacity: 0;
  transform: translateX(-40%);
  transition: 1s ease-in;
  text-align: center;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.profil img {
  height: 250px;
}

.blink-animation {
  animation: blink 1s infinite;
}

.profil-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 350px;
}
.profil h2 {
  color: #e55e34;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

#text {
  font-family: "Architects Daughter", cursive;
  color: #999999;
}
.profil p {
  font-family: "Architects Daughter", cursive;
}

/* ----------------- SECTION COMPETENCES ------------------ */

.competences-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.competences img {
  height: 400px;
}
.competences-left-container {
  height: 500px;
}
.competences h2 {
  color: #e55e34;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.2rem;
}
.competences p {
  font-family: "Architects Daughter", cursive;
}
.block-competences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  text-align: center;
}

/* --------------------- SECTION PROJETS ---------------------- */

.projets {
  height: 500px;
}
.projets h2 {
  color: #e55e34;
  font-family: "Luckiest Guy", cursive;
  font-size: 2.2rem;
  text-align: center;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  margin-top: 5%;
  margin-left: 5%;
}
.card-wrapper {
  position: relative;
  min-height: 220px;
  width: 88%;
  perspective: 2000px;
  perspective-origin: top;
}
.card-wrapper:hover .card {
  transform: rotateY(180deg);
}
.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card-front {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.card-back {
  background: #f0f0f0;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Architects Daughter", cursive;
}
.card-back img {
  height: 100%;
}
.card-back a {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: black;
  font-family: "Architects Daughter", cursive;
}
/* ------------------------ SECTION CONTACT ------------------------- */
.contact {
  margin-top: 100px;
  width: 100%;
  margin: auto;
  background: #f0f0f0;
}
.contact img {
  height: 300px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-left-container {
  width: 70%;
  display: flex;
  justify-content: center;
}
.contact form {
  padding: 30px;
  border-radius: 5px;
  font-family: "Architects Daughter", cursive;
  width: 80%;
  margin-bottom: 50px;
}
.contact form h3 {
  text-align: center;
  font-size: 2.2rem;
  color: #e55e34;
  font-family: "Luckiest Guy", cursive;
  margin-bottom: 10px;
}
.contact form .separation {
  width: 100%;
  height: 1px;
  background: #e55e34;
}
.contact form .main-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.contact form .main-form .box {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.part-left {
  width: 43%;
}
.part-right {
  width: 47%;
}
.contact form .main-form .part-left .box input {
  margin-top: 5px;
  border: 1px solid #999999;
  padding: 10px 5px 10px 30px;
  outline-color: #e55e34;
  border-radius: 5px;
}
.contact form .main-form .part-left .box i {
  position: absolute;
  left: 0;
  top: 29px;
  padding: 9px 8px;
  color: #e55e34;
}
.contact form .main-form .part-right .box {
  height: 100%;
}
.contact form .main-form .part-right .box textarea {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999999;
  outline-color: #e55e34;
  resize: none;
  height: 56%;
}
.contact form .footer-form {
  width: 100%;
  text-align: center;
}
.contact form .footer-form button {
  width: 20%;
  background-color: #e55e34;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
  border: none;
  padding: 5px;
}

.contact form .footer-form button:hover {
  transform: scale(1.05);
}

@media (max-width: 1247px) {
  .accueil-right-container {
    width: 50%;
  }
}
@media (max-width: 1068px) {
  h1 {
    font-size: 2.2rem;
  }
  .accueil-right-container {
    width: 50%;
  }
  .competences {
    font-size: 0.9rem;
  }
  .profil p {
    font-size: 0.9rem;
  }
  .accueil img {
    height: 300px;
  }
  .projet {
    margin-top: 200px;
  }
}
@media (max-width: 700px) {
  .main-navlinks {
    padding: 20px;
  }
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translate(-100%);
    padding: 0 30px;
    border-right: 1px solid #e5e5e5;
    transition: transform 0.3s ease-out;
  }
  .show {
    transform: translate(0%);
  }
}
@media (max-width: 400px) {
  .accueil {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
  #typewriter-text {
    margin: 20px;
    text-align: center;
  }
  .accueil img {
    height: 250px;
  }
  .accueil-right-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accueil-left-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .profil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .profil img {
    height: 200px;
  }
  .competences-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
  }
  .profil-right-container {
    width: 90%;
    margin: auto;
  }
  .projets {
    margin-top: 950px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    margin-top: 5%;
    margin-left: 5%;
    gap: 20px;
  }
  .contact {
    margin-top: 400px;
    height: auto;
  }
  .part-left {
    width: 100%;
  }
  .part-right {
    width: 100%;
  }
  .contact-left-container {
    width: 100%;
  }
  .contact form .footer-form button {
    width: 50%;
  }
}
