* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: url("./imgs/bgLogin.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}
.login-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}
h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #fff;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 57px;
}
.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  margin-right: 3 px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
.register-link {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
@media (max-width: 360px) {
  .login-box {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
  }
  .input-box {
    width: 290px;
  }
}

/* --------------------------------------------------- PAGE D'ACCUEIL ------------------------------------------------------ */

/* ------------- NAVRBAR ------------ */

.navbar {
  font-family: 'Architects Daughter', cursive;
  color: #999999;
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  margin-bottom: 50px;
  font-size: 1.1rem;
  list-style: none;
}

/* ---------------- SECTION ACCUEIL ---------------- */

.accueil {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.accueil-left-container {
  margin-top: 150px;
  height: 60vh;
}
.accueil-right-container {
  width: 40%;
  height: 60vh;
}
.accueil img {
  height: 600px;
}
h1 {
  font-size: 3rem;
  color: #999999;
  font-family: 'Luckiest Guy', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* ----------------- SECTION PROFIL ----------------- */

.profil {
 background-color: #E5E5E5;
 margin-top: 50px;
}
.profil-left-container {
  height: 70vh;
}
.profil-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 40%;
  height: 70vh;
}
.profil img {
  height: 350px;
}
.profil-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 350px;
}
.profil h2 {
  color:  #E55E34;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

#text {
  font-family: 'Architects Daughter', cursive;
  color: #999999;
}

/* ----------------- SECTION COMPETENCES ------------------ */

.competences-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  margin-left: 200px;
  margin-top: 100px;
}
.competences img {
  height: 500px;
}
.competences-left-container {
  height: 500px;
}
.competences h2 {
  color:  #E55E34;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.2rem;
}

/* --------------------- SECTION PROJETS ---------------------- */

.projets {
  background-color: #E5E5E5;
  height: 500px;
}
.projets-container {
  
}
.projets img {
  height: 500px;
}

/* ------------------------ SECTION CONTACT ------------------------- */
.contact {
  margin-top: 100px;
  width: 50%;
  margin: auto;
}
.contact img {
  height: 300px;
}